.vs/DesignPattern/config/applicationhost.config
.vs/DesignPattern/v16/.suo
.vs/DesignPattern/v16/Browse.VC.db
.vs/DesignPattern/v16/ipch/AutoPCH/9ff8324b747ab5a4/BUILDERPATTERN.ipch
.vs/DesignPattern/v16/ipch/AutoPCH/a645936ab1f8cdda/MAIN.ipch
Debug/DesignPattern.exe
Debug/DesignPattern.ilk
Debug/DesignPattern.pdb
DesignPattern/.vs/DesignPattern/v16/.suo
DesignPattern/.vs/DesignPattern/v16/Browse.VC.db
DesignPattern/Debug/builderPattern.obj
DesignPattern/Debug/DesignPattern.exe.recipe
DesignPattern/Debug/DesignPattern.log
DesignPattern/Debug/main.obj
DesignPattern/Debug/vc142.idb
DesignPattern/Debug/vc142.pdb
DesignPattern/Debug/DesignPattern.tlog/CL.command.1.tlog
DesignPattern/Debug/DesignPattern.tlog/CL.read.1.tlog
DesignPattern/Debug/DesignPattern.tlog/CL.write.1.tlog
DesignPattern/Debug/DesignPattern.tlog/DesignPattern.lastbuildstate
DesignPattern/Debug/DesignPattern.tlog/link.command.1.tlog
DesignPattern/Debug/DesignPattern.tlog/link.read.1.tlog
DesignPattern/Debug/DesignPattern.tlog/link.write.1.tlog
DesignPattern/x64/Debug/builderPattern.obj
DesignPattern/x64/Debug/DesignPattern.exe.recipe
DesignPattern/x64/Debug/DesignPattern.log
DesignPattern/x64/Debug/main.obj
DesignPattern/x64/Debug/vc142.idb
DesignPattern/x64/Debug/vc142.pdb
DesignPattern/x64/Debug/DesignPattern.tlog/CL.command.1.tlog
DesignPattern/x64/Debug/DesignPattern.tlog/CL.read.1.tlog
DesignPattern/x64/Debug/DesignPattern.tlog/CL.write.1.tlog
DesignPattern/x64/Debug/DesignPattern.tlog/DesignPattern.lastbuildstate
DesignPattern/x64/Debug/DesignPattern.tlog/link.command.1.tlog
DesignPattern/x64/Debug/DesignPattern.tlog/link.read.1.tlog
DesignPattern/x64/Debug/DesignPattern.tlog/link.write.1.tlog
x64/Debug/DesignPattern.exe
x64/Debug/DesignPattern.ilk
x64/Debug/DesignPattern.pdb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/DesignPattern/v16/Browse.VC.db-shm
.vs/DesignPattern/v16/Browse.VC.db-wal
.vs/DesignPattern/v16/Browse.VC.opendb
.vs/DesignPattern/v16/ipch/AutoPCH/7422562445659c7a/MAIN.ipch
.vs/DesignPattern/v16/ipch/AutoPCH/d34df5b7a8949044/BUILDERPATTERN.ipch
.vs/DesignPattern/v16/ipch/AutoPCH/e0270ce2e3a699ab/FACTORYPATTERN.ipch
.vs/DesingPattern/v16/.suo
.vs/DesingPattern/v16/Browse.VC.db
DesignPattern/x64/Debug/FactoryPattern.obj
